body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#mul-tab-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.tabs button {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    padding: 1%;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 20px;
    border-color: rgb(255, 255, 255);
    color: rgb(102, 102, 102);
    border-radius: 6px;
    margin-top: 20px;
}

.tabs button:hover {
    background-color: rgb(102, 102, 102);
    color: white;
    cursor: pointer;
}

button{
    border-radius: 3px;
    border-width: 2px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#pointsproduced {
    font-size: 12px;
    color:rgb(129, 129, 129);
    margin: 2px;
}

#points {
    font-size: 32px;
    margin: 0;
    margin-top: 20px;
}

#clicker {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 3px;
}

#clicker:hover {
    background-color: rgb(118, 118, 118);
    color: white;
    cursor: pointer;
}

#clicker:active {
    background-color: rgb(0, 0, 0);
    color: white;
}

.BIDMAS-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.addition-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    border: 3px solid rgb(255, 76, 56);
    background-color: salmon;
    border-radius: 5px;
    text-align:center;
    padding: 5px;
    width: 480px;
    height : 363.5px;
}

.main-add {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 2px 0;
    line-height: 1;
}

.add-break {
    width: 432px;
    border: 1px solid rgb(255, 76, 56);
    margin: 0;
}

.subtraction-container {
    height: 363.5px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    border: 3px solid rgb(56, 132, 255);
    background-color: rgb(109, 162, 255);
    border-radius: 5px;
    text-align:center;
    padding: 5px;
    width: 480px;
    max-width: 500px;
}

.main-sub {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 2px;
    line-height: 1;
}

.sub-break {
    width: 432px;
    border: 1px solid rgb(56, 132, 255);
    margin: 0;
}

#sum-btn, #eval-btn, #tally-btn {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-color: rgb(255, 0, 0);
    border-width: 2px;
    border-radius: 3px;
    align-self: center;
}

#sum-btn:active, #eval-btn:active, #tally-btn:active {
    background-color: rgb(255, 64, 64);
    color: white;
}

#tally-btn {
    margin-bottom: 20px;
}

#sum-btn:hover, #eval-btn:hover, #tally-btn:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
}

.add-break {
    margin-bottom: 10px;
}

.sub-break {
    margin-bottom: 20px;
}

#sum-btn.affordable, #eval-btn.affordable, #tally-btn.affordable {
    transition:all 0.3s ease-in-out;
    border-color: rgb(0, 138, 30);
}

#sum-btn.affordable:hover, #eval-btn.affordable:hover, #tally-btn.affordable:hover {
    background-color: rgb(0, 138, 30);
    color: white;
    cursor: pointer;
}

#sub-btn {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-color: rgb(41, 123, 255);
    background-color: rgb(142, 183, 255);
    font-size: 20px;
    color: black;
    border-width: 2px;
    border-radius: 3px;
    align-self: center;
}

#sub-btn:hover {
    background-color: rgb(41, 123, 255);
    color: white;
    cursor: pointer;
}

#subupgrade1, #subupgrade2, #subupgrade3 {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-color: rgb(6, 67, 165);
    background-color: rgb(6, 67, 165);
    color: white;
    border-width: 2px;
    border-radius: 3px;
    align-self: center;
}

#subupgrade1:hover, #subupgrade2:hover, #subupgrade3:hover {
    cursor:not-allowed;
}

#subupgrade1.affordable, #subupgrade2.affordable, #subupgrade3.affordable {
    transition:all 0.3s ease-in-out;
    border-color: rgb(167, 172, 0);
    background-color: rgb(167, 172, 0);
    color: white;
}

#subupgrade1.affordable:hover, #subupgrade2.affordable:hover, #subupgrade3.affordable:hover {
    cursor: pointer;
}

#subupgrade1.bought, #subupgrade2.bought, #subupgrade3.bought {
    transition:all 0.3s ease-in-out;
    border-color: rgb(0, 138, 30);
    background-color: rgb(0, 138, 30);
    color: white;
    cursor: default;
}

.stylesub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-top: 10px;
}

#subupgrade3 {
    grid-column: 1 / 3;
    justify-self: center;
    width: 220px;
}

.stylesub button {
    height: 100px;
}

.su1-title, .su2-title, .su3-title {
    font-weight: 700;
    font-size: 14px;
    display: block;
    color: white;
}

#win{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
}

.win-title {
    font-size: 32px;
    margin: 0;
    margin-top: 20px;
    animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
    0% { color: rgb(200, 0, 0); }
    14% { color: rgb(255, 166, 0); }
    28% { color: yellow; }
    42% { color: green; }
    56% { color: blue; }
    70% { color: indigo; }
    84% { color: rgb(192, 18, 192); }
    100% { color: rgb(200, 0, 0); }
}

#lose {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
}

#mul-tab {
    border: 2px solid rgb(198, 119, 0);
    background-color: rgb(255, 211, 90);
    color: rgb(198, 119, 0);
}

#mul-tab:hover {
    background-color: rgb(198, 119, 0);
    color: rgb(255, 211, 90);
    cursor: pointer;
}

.power-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    gap: 10px;
    width: 35%;
    background-color: rgb(255, 211, 90);
    border: 3px solid rgb(198, 119, 0);
    border-radius: 5px;
    margin: 1%;
    padding-bottom: 1%;
}

.power-content button {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-width: 2px;
    border-radius: 3px;
}

.power-content button:hover {
    background-color: rgb(102, 102, 102);
    color: white;
    cursor: pointer;
}

#mul-points {
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
    color: black;
}

#mul-pointsproduced {
    font-size: 10px;
    color:rgb(129, 129, 129);
    margin: 2px;
}

#mul-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 12px;
}

#mul-tabs button {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-color: rgb(198, 119, 0);
    background-color: rgb(255, 211, 90);
    color: rgb(198, 119, 0);
    border-radius: 6px;
    margin-top: 20px;
}

#mul-tabs button:hover {
    background-color: rgb(198, 119, 0);
    color: rgb(255, 211, 90);
    cursor: pointer;
}

.mulupgrades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mulupgrades button {
    background-color: red;
    border-color: red;
    color: white;
    font-size: 12px;
    min-height: 150px;
    width: 170px;
    gap: 20px;
}

.mulupgrades button:hover {
    cursor: not-allowed;
}

.mulupgrades button.affordable:hover {
    cursor: pointer;
}

.mulupgrades button.bought:hover {
    cursor: default;
}

.mulupgrades button.affordable {
    background-color: rgb(167, 172, 0);
    border-color: rgb(167, 172, 0);
}

.mulupgrades button.bought {
    background-color: rgb(0, 138, 30);
    border-color: rgb(0, 138, 30);
}

.mu1-title, .mu2-title, .mu3-title, .mu4-title {
    font-weight: 550;
    font-size: 14px;
}

.guide-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

.mulupgrow {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-bottom: 6px;
}
